{% extends "layout.html" %} {% block main %}
<h2
  class="stroke-text cascading"
  style="padding-top: 2vh; padding-bottom: 16px"
>
  <span class="text-container rounded-pill"
    >Select from the options below to get your exercises:</span
  >
</h2>
<div class="container-fluid">
  <div
    class="accordion accordion-dark bg-secondary text-container"
    id="accordionWorkouts"
  >
    <form action="/workouts" method="post" id="workout_search_form">
      <div class="accordion-item accordion-item-dark">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Type of Exercise
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body">
            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="exercise"
              value="Cardio"
              id="cardio"
            />
            <label class="btn btn-outline-success" for="cardio">Cardio</label>
            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="exercise"
              id="olympic_weightlifting"
            />
            <label class="btn btn-outline-success" for="olympic_weightlifting"
              >Olympic Weightlifting</label
            >
            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="exercise"
              value="olympic_weightliftingics"
              id="plyometrics"
            />
            <label class="btn btn-outline-success" for="plyometrics"
              >Plyometrics</label
            >
            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="exercise"
              value="Powerlifting"
              id="powerlifting"
            />
            <label class="btn btn-outline-success" for="powerlifting"
              >Powerlifting</label
            >
            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="exercise"
              value="Strength"
              id="strength"
            />
            <label class="btn btn-outline-success" for="strength"
              >Strength</label
            >
            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="exercise"
              value="Stretching"
              id="stretching"
            />
            <label class="btn btn-outline-success" for="stretching"
              >Stretching</label
            >
            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="exercise"
              value="Strongman"
              id="strongman"
            />
            <label class="btn btn-outline-success" for="strongman"
              >Strongman</label
            >
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Muscle Group
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show">
          <div class="accordion-body">
            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="muscle"
              value="abdominals"
              id="abdominals"
            />
            <label class="btn btn-outline-success" for="abdominals"
              >Abdominals</label
            >

            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="muscle"
              value="abductors"
              id="abductors"
            />
            <label class="btn btn-outline-success" for="abductors"
              >Abductors</label
            >

            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="muscle"
              value="adductors"
              id="adductors"
            />
            <label class="btn btn-outline-success" for="adductors"
              >Adductors</label
            >

            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="muscle"
              value="biceps"
              id="biceps"
            />
            <label class="btn btn-outline-success" for="biceps">Biceps</label>

            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="muscle"
              value="calves"
              id="calves"
            />
            <label class="btn btn-outline-success" for="calves">Calves</label>

            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="muscle"
              value="chest"
              id="chest"
            />
            <label class="btn btn-outline-success" for="chest">Chest</label>

            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="muscle"
              value="forearms"
              id="forearms"
            />
            <label class="btn btn-outline-success" for="forearms"
              >Forearms</label
            >

            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="muscle"
              value="glutes"
              id="glutes"
            />
            <label class="btn btn-outline-success" for="glutes">Glutes</label>

            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="muscle"
              value="hamstrings"
              id="hamstrings"
            />
            <label class="btn btn-outline-success" for="hamstrings"
              >Hamstrings</label
            >

            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="muscle"
              value="lats"
              id="lats"
            />
            <label class="btn btn-outline-success" for="lats">Lats</label>

            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="muscle"
              value="lower_back"
              id="lower_back"
            />
            <label class="btn btn-outline-success" for="lower_back"
              >Lower Back</label
            >

            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="muscle"
              value="middle_back"
              id="middle_back"
            />
            <label class="btn btn-outline-success" for="middle_back"
              >Middle Back</label
            >

            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="muscle"
              value="neck"
              id="neck"
            />
            <label class="btn btn-outline-success" for="neck">Neck</label>

            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="muscle"
              value="quadriceps"
              id="quadriceps"
            />
            <label class="btn btn-outline-success" for="quadriceps"
              >Quadriceps</label
            >

            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="muscle"
              value="traps"
              id="traps"
            />
            <label class="btn btn-outline-success" for="traps">Traps</label>

            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="muscle"
              value="triceps"
              id="triceps"
            />
            <label class="btn btn-outline-success" for="triceps">Triceps</label>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Difficulty
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse show">
          <div class="accordion-body">
            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="difficulty"
              value="Beginner"
              id="beginner"
            />
            <label class="btn btn-outline-success" for="beginner"
              >Beginner</label
            >

            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="difficulty"
              value="Intermediate"
              id="intermediate"
            />
            <label class="btn btn-outline-success" for="intermediate"
              >Intermediate</label
            >

            <input
              autocomplete="off"
              class="btn-check"
              type="radio"
              name="difficulty"
              value="Expert"
              id="expert"
            />
            <label class="btn btn-outline-success" for="expert">Expert</label>
          </div>
        </div>
      </div>
      <div class="container">
        <label for="results_number" class="form-label" style="margin-top: 20px"
          ><b>Number of exercises: </b
          ><span id="rangeValue"><b>3</b></span></label
        >
        <input
          oninput="updateRangeValue(event)"
          value="3"
          type="range"
          required
          class="form-range"
          name="results_number"
          type="number"
          min="1"
          max="10"
        />
      </div>

      <button type="submit" class="btn btn-success rounded-pill">Go!</button>
    </form>
  </div>
</div>
<script>
  document
    .getElementById("workout_search_form")
    .addEventListener("submit", function (event) {
      const checkboxes = document.querySelectorAll(
        'input[name="exercise"], input[name="difficulty"], input[name="muscle"]'
      );
      const isChecked = Array.from(checkboxes).some(
        (checkbox) => checkbox.checked
      );

      if (!isChecked) {
        event.preventDefault();
        alert("Please select at least one criteria for search.");
      }
    });
</script>
<script>
  function updateRangeValue(event) {
    document.getElementById("rangeValue").innerText = event.target.value;
  }
</script>

{% endblock %}
